/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts Local*/
/* Geist */
@font-face {
    font-family: 'Geist';
    src: url('assets/fonts/Geist-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('assets/fonts/Geist-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('assets/fonts/Geist-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('assets/fonts/Geist-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('assets/fonts/Geist-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('assets/fonts/Geist-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

/* Mono */
@font-face {
    font-family: 'GeistMono';
    src: url('assets/fonts/GeistMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/* Variables */
:root{
    --primary-color: #6D4C41;
    --secondary-color: #3AB795;
    --accent-color: #4b342c;
    --background-color: #e4d19a;
    --text-color: #333333;
    --highlight-color: #F9E79F;
}

body{
    min-height: 100vh;
    font-family: 'Geist', sans-serif;
    font-weight: 400;
}

.mono{
    font-family: 'GeistMono', monospace;
}
/* DARK MODE */

html{
    scroll-behavior: smooth;
}


/* Webkits */
input:-webkit-autofill {
    background-color: #2d3748 !important; /* bg-dark-gray-800 */
    color: #fff !important; /* text-white */
}

input:-moz-autofill {
    background-color: #2d3748 !important; /* bg-dark-gray-800 */
    color: #fff !important; /* text-white */
}

input:-ms-autofill {
    background-color: #2d3748 !important; /* bg-dark-gray-800 */
    color: #fff !important; /* text-white */
}

input:-o-autofill {
    background-color: #2d3748 !important; /* bg-dark-gray-800 */
    color: #fff !important; /* text-white */
}