@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-color: #6D4C41;
    --secondary-color: #3AB795;
    --accent-color: #4b342c;
    --background-color: #e4d19a;
    --text-color: #333333;
    --highlight-color: #F9E79F;
}

body{
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}
/* DARK MODE
body.dark {
    --primary-color: #009dff;
    --secondary-color: #3AB795;
    --accent-color: #FFB84D;
    --background-color: #333333;
    --text-color: #F4F4F9;
    --highlight-color: #F9E79F;
} */

/* Webkits */
input:-webkit-autofill {
    background-color: #2d3748 !important; /* bg-dark-gray-800 */
    color: #fff !important; /* text-white */
}

input:-moz-autofill {
    background-color: #2d3748 !important; /* bg-dark-gray-800 */
    color: #fff !important; /* text-white */
}

input:-ms-autofill {
    background-color: #2d3748 !important; /* bg-dark-gray-800 */
    color: #fff !important; /* text-white */
}

input:-o-autofill {
    background-color: #2d3748 !important; /* bg-dark-gray-800 */
    color: #fff !important; /* text-white */
}